*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  flex-direction: column;
  justify-content: center;
  background-color: #ecf2f8;
}

.container{
  display: flex;
  width: 700px;
  height: 280px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 50px;
  position: relative;
}
.container .img {
  width: 320px;
  overflow: hidden;
}
.container .img img{
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 350px;
}
.container .details{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 30px;
  width: 450px;
}
.container .details h2{
  font-size: 20px;
  font-weight: 700;
  color: #4d5665;
}
.container .details p{
  margin: 15px 0;
  line-height: 1.5;
  color: #6d7f97;
  font-size: 13px;
}
.container .details .about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container .details .info{
  display: flex;
}
.container .details .info .lash{
  width: 40px;
  height:40px;
  border-radius: 50%;
  margin-right: 15px;
}
.container .details .info .me{
  font-size: 10px;
}
.container .details .info .me h1{
  font-size: 15px;
  color: #4d5665;
  width: fit-content;
}
.container .details .info .me p{
  margin: 3px 0;
  width: fit-content;
}
.share-icon {
  background-color: #ecf2f8;
  color: #6d7f97;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}
.share-icon i{
  font-size: 18px;
}
.share-icon:hover {
  background-color: #6d7f97;
  color: #ecf2f8;
}
.share div::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0;
  border-color: #49556b transparent transparent transparent;
  transition:.3s;
}
.share{
  position: absolute;
  right: -95px;
  bottom: 50px;
  height: 0;
  transition: .4s;
  overflow: hidden;
}
.share div{
  transition: .4s;
  background-color: #49556b;
  padding: 20px 30px;
  display: flex;
  color: #6d7f97;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 15px;
}
.share img{
  margin: 0 7px;
}
.active {
  display: block;
  height: 75px;
}
.active div::before{
  border-width: 15px;
}
@media (max-width:830px) {
  .container{
    flex-direction: column;
    height: auto;
    width: 370px;
  }
  .container .img{
    width: 370px;
  }
  .container .img img{
    width: 370px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
  .container .details{
    width: 370px;
    padding: 20px;
  }
  .container .details h2{
    font-size: 19px;
  }
  .container .details p{
    font-size: 15px;
    width: 295px;
  }
  .container .details .about{
    width: 300px;
  }
  .container .details .info h1{
    width: fit-content;
  }
  .share{
    bottom: -20px;
    left: -20px;
    width: 370px;
  }
  .share div{
    padding: 15px 35px 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .share img{
  margin: 0 10px;
}
.share-icon{
  z-index: 2;
}
  .active{
    height: 70px;
  }
}
